@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --primary: #333;
    --hover-color: #fdd052;
    /*--hover-color: #1abc9c;*/
    --dark: #333;
    --light-dark: #3d3d3d;
    --lighter-dark: #484848;
    --white: #fff;

    --header-bg: var(--primary);
    --parent-hover: hsla(0, 0%, 100%, 0.05);
    --children-hover: hsla(0, 0%, 0%, 0.95);
}

* {
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;
    text-transform: capitalize;*/
}

/* Navigation Bar */
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: var(--header-bg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

header a {
    text-decoration: none;
}

/* Logo */
header .logo {
    font-weight: bolder;
    font-size: 22px;
    color: var(--white);
    padding-left: 10px;
}

/* Logo Hover */
header .logo:hover {
    color: var(--hover-color);
}

/* Menu */
header .new-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Menu */
header .new-navbar ul li {
    position: relative;
    float: left;
}

header .new-navbar ul li:nth-child(6):after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: -5px;
    border-right: 5px solid rgba(0, 0, 0, 0.2);
}

header .new-navbar ul li:nth-child(7) {
    margin-left: 5px;
}

/* Menu hover */
header .new-navbar ul li:hover {
    background: #191919;
}

/* Menu a */
header .new-navbar ul li a {
    font-size: 17px;
    padding: 15px 15px;
    color: var(--white);
    display: block;
}

header .new-navbar ul li a:hover {
    color: var(--hover-color);
}

/* Menu hover */
header .new-navbar ul li ul a:hover {
    background: var(--light-dark);
    color: var(--hover-color);
}

/* All Submenus */
header .new-navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--primary);
    display: none;
}

header :not(li) > ul > li > ul {
    border-top: 2px solid var(--hover-color);
}

/* Submenu */
header .new-navbar ul li ul li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* Sub-Submenu */
header .new-navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

/* Dropdown Activation */
header .new-navbar ul li:focus-within > ul,
header .new-navbar ul li:hover > ul {
    display: initial;
}

/* Menu bar checkbox */
#menu-bar {
    display: none;
}

/* Open and close menu on mobile */
header label {
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
    display: none;
}

/* Hamburger menu at mobile width */
@media (max-width: 1295px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .new-navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--primary);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .new-navbar ul li {
        width: 100%;
    }

    header .new-navbar ul li ul {
        position: relative;
        width: 100%;
    }
    
    /* Submenu */
    header .new-navbar ul li ul li {
        background: var(--light-dark);
    }
    
    /* Submenu indent */
    header .new-navbar ul li ul a {
        padding-left: 40px;
    }
    
    /* Submenu hover */
    header .new-navbar ul li ul a:hover {
        background: var(--lighter-dark);
    }

    /* Sub-Submenu */
    header .new-navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }
    
    /* Submenu indent */
    header .new-navbar ul li ul li ul a {
        padding-left: 80px;
    }

    /* -------- hamburger (START) ------- */
    .hamburger {
        display: inline-block;
        cursor: pointer;
        margin-bottom: -5px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-9px, -8px);
    }

    /* -------- hamburger (END) ------- */

    /* Subsequent-sibling combinator (tilde) to display menu at click */
    #menu-bar:checked ~ .new-navbar {
        display: initial;
    }
}



/*
:root {
    box-sizing: border-box;
    --primary: #333333;
    --hover-color: #fdd052;
    --dark: #333333;
    --white: #ffffff;

    --header-bg: var(--primary);
    --parent-hover: hsla(0, 0%, 0%, 0.95);
    --children-hover: hsla(0, 0%, 100%, 0.05);
}

header {
    background: var(--header-bg);
    position: relative;
    top: 0;
}

.home {
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
    padding: 1em 1.5em;
}

.home:hover {
    background-color: #191919;
    color: var(--hover-color);
}

.new-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu {
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: var(--white);
    padding: 1em 1.5em;
    font-size: 1rem;
}

.has-dropdown {
    position: relative;
}

.submenu {
    margin: 0;

    position: absolute;
    left: 0;
    background-color: var(--dark);
    white-space: nowrap;
    padding: 1em 0;
    min-width: 9em;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
}

.submenu > li > a {
    padding: 0.8em 1.5em;
}

.submenu .submenu {
    left: -100%;
    top: 0;
}

.submenu .submenu .submenu {
    left: -100%;
    top: 0;
}

.menu > li:hover > a,
.submenu > li:hover > a {
    background-color: var(--children-hover);
    color: var(--hover-color);
}

.menu > li:hover > a {
    background-color: #191919;
}

.arrow {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-135deg);
    margin-top: 0em;
    margin-left: 0.25em;
    transition: transform 100ms ease-in-out;
}

.menu > li:hover > a + .submenu,
.submenu > li:hover > a + .submenu {
    opacity: 1;
    transform: scaleY(1);
}

.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .submenu {
    transform: rotate(-45deg);
    margin-top: -0.25em;
}

@media only screen and (max-width: 1260px) {
    .submenu .submenu .submenu {
        left: -100%;
        top: 0.5em;
    }

    .submenu {
        min-width: 9em;
    }
}

@media only screen and (max-width: 940px) {
    .menu li a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    header {
        padding: 1.56em 0;
    }

    .home {
        padding: 1.3em 1.5em;
        font-size: 1.2em;
    }

    .menu {
        flex-flow: column;
        position: absolute;
        background: var(--white);
        top: 4.55em;
        left: 0;
        right: 0;
        height: 100vh;

        opacity: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms, 100ms opacity ease-in-out;
        overflow-y: scroll;

    }
    
    .menu::-webkit-scrollbar {
        display: none;
    }

    .menu > li > a {
        font-size: 1.2rem;
        color: var(--dark);
    }

    .submenu > li > a {
        font-size: 1.2rem;
    }

    .submenu {
        top: 0;
        padding-left: 0;
        border-left: 0.2em dotted hsla(342, 99%, 45%, 0.95);
    }

    .submenu .submenu {
        left: 0;
        top: 0;
    }

    .submenu .submenu .submenu {
        left: 0;
        top: 0;
    }

    .menu > li:hover > a + .submenu,
    .submenu > li:hover > a + .submenu {
        position: relative;
    }

    .hamburger-spacer {
        padding-right: 2em;
    }

    .hamburger {
        width: 2em;
        height: 0.25em;
        display: block;
        background: var(--white);
        position: relative;
        cursor: pointer;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after,
    .hamburger::before {
        content: "";
        position: absolute;
        left: 0;
        background: inherit;
        width: inherit;
        height: inherit;

        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after {
        top: 0.65em;
    }

    .hamburger::before {
        bottom: 0.65em;
    }

    .close::after,
    .close::before {
        top: 0;
        transition: 0.2s transform ease-in-out;
    }

    .close::before {
        display: none;
    }

    .close {
        transform: rotate(45deg);
        transition: 0.2s transform ease-in-out;
    }

    .close::after {
        transform: rotate(-90deg);
    }

    input[type="checkbox"]:checked + .menu {
        position: absolute;
        opacity: 1;
        transform: scaleY(1);
    }
}
*/