* {
    touch-action: manipulation;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.frame {
    top: 0;
    position: absolute;
    left: 0;
    padding: 1rem;
}

.frame__title {
    font-size: 1rem;
    display: inline-block;
}

.frame__links {
    display: inline-block;
    margin: 0 2rem;
    text-transform: lowercase;
}

.frame__links a {
    display: inline-block;
    margin: 0 0.25rem;
    text-decoration: none;
    color: red;
}

.frame__links a:focus,
.frame__links a:hover {
    text-decoration: underline;
}

#c {
    width: 100%;
    height: 600px;
    display: inline-block;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}

.controls {
    position: relative;
    bottom: 0;
    width: 100%;
}

.options {
    position: relative;
    left: 0;
}


/* ------------- Resize option img (START) ------------- */
.optionV0 .resize {
    height: 130%;
    width: 130%;
}

.optionV0_8accents .resize {
    height: 130%;
    width: 130%;
}

.optionV2 .resize {
    height: 130%;
    width: 130%;
}

.optionV2_7accents .resize {
    height: 130%;
    width: 130%;
}

.optionV2_8accents .resize {
    height: 130%;
    width: 130%;
}

.optionTrident .resize {
    height: 130%;
    width: 130%;
}

.optionTrident_8accents .resize {
    height: 130%;
    width: 130%;
}

.optionSwitchwire .resize {
    height: 130%;
    width: 130%;
}

.optionSwitchwire_8accents .resize {
    height: 130%;
    width: 130%;
}

.optionLegacy .resize {
    height: 130%;
    width: 130%;
}

.optionLegacy_8accents .resize {
    height: 130%;
    width: 130%;
}

/* ------------- Resize option img (END) ------------- */



/* ------------- Option for Voron V0.1 Default (START) ------------- */
.optionV0:hover {
    transform: scale(1.2);
}

.optionV0.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionV0.--is-active:hover {
    border-left: none;
}

.optionV0 img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron V0.1 Default (END) ------------- */

/* ------------- Option for Voron V0.1 8Accents (START) ------------- */
.optionV0_8accents:hover {
    transform: scale(1.2);
}

.optionV0_8accents.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionV0_8accents.--is-active:hover {
    border-left: none;
}

.optionV0_8accents img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron V0.1 8Accents (END) ------------- */



/* ------------- Option for Voron V2.4 Default (START) ------------- */
.optionV2:hover {
    transform: scale(1.2);
}

.optionV2.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionV2.--is-active:hover {
    border-left: none;
}

.optionV2 img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron V2.4 Default (END) ------------- */

/* ------------- Option for Voron V2.4 6Accents (START) ------------- */
.optionV2_7accents:hover {
    transform: scale(1.2);
}

.optionV2_7accents.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionV2_7accents.--is-active:hover {
    border-left: none;
}

.optionV2_7accents img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron V2.4 6Accents (END) ------------- */

/* ------------- Option for Voron V2.4 8Accents (START) ------------- */
.optionV2_8accents:hover {
    transform: scale(1.2);
}

.optionV2_8accents.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionV2_8accents.--is-active:hover {
    border-left: none;
}

.optionV2_8accents img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron V2.4 8Accents (END) ------------- */



/* ------------- Option for Voron Trident Default (START) ------------- */
.optionTrident:hover {
    transform: scale(1.2);
}

.optionTrident.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionTrident.--is-active:hover {
    border-left: none;
}

.optionTrident img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron Trident Default (END) ------------- */

/* ------------- Option for Voron Trident 8Accents (START) ------------- */
.optionTrident_8accents:hover {
    transform: scale(1.2);
}

.optionTrident_8accents.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionTrident_8accents.--is-active:hover {
    border-left: none;
}

.optionTrident_8accents img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron Trident 8Accents (END) ------------- */



/* ------------- Option for Voron Switchwire Default (START) ------------- */
.optionSwitchwire:hover {
    transform: scale(1.2);
}

.optionSwitchwire.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionSwitchwire.--is-active:hover {
    border-left: none;
}

.optionSwitchwire img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron Switchwire Default (END) ------------- */

/* ------------- Option for Voron Switchwire 8Accents (START) ------------- */
.optionSwitchwire_8accents:hover {
    transform: scale(1.2);
}

.optionSwitchwire_8accents.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionSwitchwire_8accents.--is-active:hover {
    border-left: none;
}

.optionSwitchwire_8accents img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron Switchwire 8Accents (END) ------------- */



/* ------------- Option for Voron Legacy Default (START) ------------- */
.optionLegacy:hover {
    transform: scale(1.2);
}

.optionLegacy.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionLegacy.--is-active:hover {
    border-left: none;
}

.optionLegacy img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron Legacy Default (END) ------------- */

/* ------------- Option for Voron Legacy 8Accents (START) ------------- */
.optionLegacy_8accents:hover {
    transform: scale(1.2);
}

.optionLegacy_8accents.--is-active {
    -webkit-filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
    filter: invert(19%) sepia(87%) saturate(3716%) hue-rotate(355deg) brightness(97%) contrast(86%);
}

.optionLegacy_8accents.--is-active:hover {
    border-left: none;
}

.optionLegacy_8accents img {
    height: 100%;
    width: auto;
    pointer-events: none;
}

/* ------------- Option for Voron Legacy 8Accents (END) ------------- */



.info {
    display: flex;
    justify-content: center;
}

.info p {
    margin-top: 0;
}

.tray {
    width: 100%;
    height: 120px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.tray__slide {
    position: absolute;
    display: flex;
    left: 0;
    transform: translateX(-50%);
    animation: wheelin 1s 1s ease-in-out forwards;
}

.tray__swatch {
    cursor: pointer;
    transition: 0.1s ease-in;
    height: 50px;
    min-width: 50px;
    flex: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}

.tray__swatch:hover {
    height: 58px;
}

.drag-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 10em;
    height: 10em;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5em;
    background: white;
    position: absolute;
}

.drag-notice.start {
    -webkit-animation: popout 0.25s 3s forwards;
    animation: popout 0.25s 3s forwards;
}

@-webkit-keyframes popout {
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes popout {
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes wheelin {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes wheelin {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.option-colors-desktop {
    font-size: 1.17em;
    font-weight: bolder;
}

.option-colors-tablet {
    margin-top: 0;
    font-size: 1.17em;
    font-weight: bolder;
    border-bottom: 2px solid;
}

.option-colors-mobile {
    margin-top: 0;
    font-size: 1.17em;
    font-weight: bolder;
    border-bottom: 2px solid;
}

.center-color {
    display: flex;
    justify-content: center;
    width: 100%;
}

.drag-here-position {
    position: absolute;
    z-index: 2;
}

/* ----------------------- Media Queries (Start) ----------------------- */

/* ------------- min-width: 961px (Start) ------------- */
/* Media Query for the options panel of the canvas */
@media screen and (min-width: 961px) {

    .drag-here-position {
        margin-top: -80px;
    }

    .info-mobile {
        display: none;
    }

    /* Colors text */
    .option-colors-desktop {
        border-bottom: 2px solid;
        margin-top: 0px;
    }

    .option-colors-tablet {
        display: none;
    }

    .center-color-mobile {
        display: none;
    }

    .option-colors-mobile {
        display: none;
    }

    /* ----- Labels for colors and Tooltip (START) ----- */
    [data-tooltip] {
        font-size: 15px;
        display: flex;
        align-items: center
    }

    [data-tooltip]:before {
        /* needed - do not touch */
        content: attr(data-tooltip);
        position: absolute;
        opacity: 0;

        /* customizable */
        /*transition: all 0.4s ease;*/
        padding: 5px 10px;
        color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 1px silver;
        left: 110%;
        text-align: center;
        z-index: 51;
    }

    [data-tooltip]:hover:before {
        /* needed - do not touch */
        opacity: 1;

        /* customizable */
        background: #181818;
        left: 120%;
        width: 110px;

        z-index: 51;
    }

    [data-tooltip]:not([data-tooltip-persistent]):before {
        pointer-events: none;
    }

    /* ----- Labels for colors and Tooltip (End) ----- */


    /* ----- Option for Voron V0.1 Default (START) ----- */
    .optionV0 {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV0.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_v0:nth-child(3) {
        margin-bottom: 12px;
    }

    .adjust_v0:nth-child(4) {
        margin-bottom: 12px;
    }

    /* ----- Option for Voron V0.1 Default (END) ----- */

    /* ----- Option for Voron V0.1 8Accents (START) ----- */
    .optionV0_8accents {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV0_8accents.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_v0_8accents:nth-child(3) {
        margin-top: -5px;
        margin-bottom: 4px;
    }

    .adjust_v0_8accents:nth-child(4) {
        margin-bottom: 2px;
    }

    .adjust_v0_8accents:nth-child(5) {
        margin-top: -10px;
        margin-bottom: -17px;
    }

    .adjust_v0_8accents:nth-child(6) {
        margin-bottom: 0px;
    }

    .adjust_v0_8accents:nth-child(7) {
        margin-bottom: 0px;
    }

    .adjust_v0_8accents:nth-child(8) {
        margin-bottom: 3px;
    }

    /* ----- Option for Voron V0.1 8Accents (END) ----- */



    /* ----- Option for Voron V2.4 Default (START) ----- */
    .optionV2 {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV2.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_v2:nth-child(2) {
        margin-bottom: 6px;
    }

    .adjust_v2:nth-child(3) {
        margin-bottom: 5px;
    }

    .adjust_v2:nth-child(4) {
        margin-bottom: 6px;
    }

    /* ----- Option for Voron V2.4 Default (END) ----- */

    /* ----- Option for Voron V2.4 6Accents (START) ----- */
    .optionV2_7accents {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV2_7accents.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_v2_7accents:nth-child(2) {
        margin-bottom: 7px;
    }

    .adjust_v2_7accents:nth-child(3) {
        margin-bottom: 5px;
    }

    .adjust_v2_7accents:nth-child(4) {
        margin-bottom: 5px;
    }

    .adjust_v2_7accents:nth-child(5) {
        margin-bottom: 2px;
    }

    .adjust_v2_7accents:nth-child(6) {
        margin-bottom: -5px;
    }

    .adjust_v2_7accents:nth-child(7) {
        margin-bottom: 0px;
    }

    /* ----- Option for Voron V2.4 6Accents (END) ----- */

    /* ----- Option for Voron V2.4 8Accents (START) ----- */
    .optionV2_8accents {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV2_8accents.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_v2_8accents:nth-child(2) {
        margin-bottom: 5px;
    }

    .adjust_v2_8accents:nth-child(3) {
        margin-bottom: 1px;
    }

    .adjust_v2_8accents:nth-child(4) {
        margin-bottom: -1px;
    }

    .adjust_v2_8accents:nth-child(5) {
        margin-bottom: -0.5px;
    }

    .adjust_v2_8accents:nth-child(6) {
        margin-bottom: 5px;
    }

    .adjust_v2_8accents:nth-child(7) {
        margin-bottom: -1px;
    }

    .adjust_v2_8accents:nth-child(8) {
        margin-bottom: 5px;
    }

    /* ----- Option for Voron V2.4 8Accents (END) ----- */



    /* ----- Option for Voron Trident Default (START) ----- */
    .optionTrident {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionTrident.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_trident:nth-child(2) {
        margin-bottom: 5px;
    }

    .adjust_trident:nth-child(3) {
        margin-bottom: 6px;
    }

    .adjust_trident:nth-child(4) {
        margin-bottom: 9px;
    }

    /* ----- Option for Voron Trident Default (END) ----- */

    /* ----- Option for Voron Trident 8Accents (START) ----- */
    .optionTrident_8accents {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionTrident_8accents.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_trident_8accents:nth-child(3) {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .adjust_trident_8accents:nth-child(6) {
        margin-top: -1px;
        margin-bottom: 5px;
    }

    .adjust_trident_8accents:nth-child(8) {
        margin-top: -2px;
        margin-bottom: 5px;
    }

    /* ----- Option for Voron Trident 8Accents (END) ----- */



    /* ----- Option for Voron Switchwire Default (START) ----- */
    .optionSwitchwire {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionSwitchwire.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_switchwire:nth-child(2) {
        margin-bottom: 5px;
    }

    .adjust_switchwire:nth-child(3) {
        margin-bottom: 5px;
    }

    .adjust_switchwire:nth-child(4) {
        margin-bottom: 7px;
    }

    /* ----- Option for Voron Switchwire Default (END) ----- */

    /* ----- Option for Voron Switchwire 8Accents (START) ----- */
    .optionSwitchwire_8accents {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionSwitchwire_8accents.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_switchwire_8accents:nth-child(2) {
        margin-bottom: 5px;
    }

    .adjust_switchwire_8accents:nth-child(7) {
        margin-bottom: 5px;
    }

    .adjust_switchwire_8accents:nth-child(8) {
        margin-bottom: 13px;
    }

    /* ----- Option for Voron Switchwire 8Accents (END) ----- */



    /* ----- Option for Voron Legacy Default (START) ----- */
    .optionLegacy {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionLegacy.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_legacy:nth-child(2) {
        margin-bottom: 4px;
    }

    .adjust_legacy:nth-child(3) {
        margin-bottom: 14px;
    }

    /* ----- Option for Voron Legacy Default (END) ----- */

    /* ----- Option for Voron Legacy 8Accents (START) ----- */
    .optionLegacy_8accents {
        margin-bottom: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionLegacy_8accents.--is-active {
        /*border-right: 2px solid #e72e1e;*/
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .adjust_legacy_8accents:nth-child(2) {
        margin-bottom: 3px;
    }

    .adjust_legacy_8accents:nth-child(3) {
        margin-bottom: 5px;
    }

    .adjust_legacy_8accents:nth-child(4) {
        margin-bottom: 1px;
    }

    .adjust_legacy_8accents:nth-child(5) {
        margin-bottom: 9px;
    }

    .adjust_legacy_8accents:nth-child(6) {
        margin-bottom: 5px;
    }

    .adjust_legacy_8accents:nth-child(7) {
        margin-bottom: -6px;
    }

    .adjust_legacy_8accents:nth-child(8) {
        margin-bottom: 0px;
    }

    /* ----- Option for Voron Legacy 8Accents (END) ----- */
}

/* ------------- min-width: 961px (End) ------------- */


/* ------------- max-width: 960px (Start) ------------- */
@media (max-width: 960px) {

    .drag-here-position {
        margin-top: -80px;
    }

    /* Colors text */
    .option-colors-desktop {
        display: none;
    }

    .center-color-mobile {
        display: none;
    }

    .option-colors-mobile {
        display: none;
    }

    .info-mobile {
        display: none;
    }

    /* ----- Labels for colors and Tooltip (START) ----- */
    [data-tooltip] {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    [data-tooltip]:before {
        /* needed - do not touch */
        content: attr(data-tooltip);
        position: absolute;
        opacity: 0;

        /* customizable */
        /*transition: all 0.4s ease;*/
        padding: 5px;
        color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 1px silver;
        top: 105%;
        text-align: center;
        z-index: 51;
    }

    [data-tooltip]:hover:before {
        /* needed - do not touch */
        opacity: 1;

        /* customizable */
        background: black;
        top: 115%;
        width: 110px;
        z-index: 51;
    }

    [data-tooltip]:not([data-tooltip-persistent]):before {
        pointer-events: none;
    }

    /* ----- Labels for colors and Tooltip (END) ----- */


    /* ----- Option for Voron V0.1 Default (START) ----- */
    .optionV0 {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV0.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV0 img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v0:nth-child(2) {
        margin-right: 24px;
    }

    .adjust_v0:nth-child(3) {
        margin-left: -5px;
    }

    .adjust_v0:nth-child(5) {
        margin-left: 9px;
    }

    /* ----- Option for Voron V0.1 Default (END) ----- */

    /* ----- Option for Voron V0.1 8Accents (START) ----- */
    .optionV0_8accents {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV0_8accents.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV0_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v0_8accents:nth-child(2) {
        margin-right: 5px;
    }

    .adjust_v0_8accents:nth-child(4) {
        margin-right: 12px;
    }

    .adjust_v0_8accents:nth-child(5) {
        margin-right: 15px;
    }

    .adjust_v0_8accents:nth-child(6) {
        margin-right: 5px;
    }

    .adjust_v0_8accents:nth-child(7) {
        margin-right: 5px;
    }

    .adjust_v0_8accents:nth-child(8) {
        margin-right: 17px;
    }

    /* ----- Option for Voron V0.1 8Accents (END) ----- */



    /* ----- Option for Voron V2.4 Default (START) ----- */
    .optionV2 {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV2.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV2 img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v2:nth-child(2) {
        margin-right: 2px;
    }

    .adjust_v2:nth-child(3) {
        margin-right: 10px;
    }

    .adjust_v2:nth-child(4) {
        margin-right: 21px;
    }

    /* ----- Option for Voron V2.4 Default (END) ----- */

    /* ----- Option for Voron V2.4 6Accents (START) ----- */
    .optionV2_7accents {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV2_7accents.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV2_7accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v2_7accents:nth-child(2) {
        margin-right: 3px;
    }

    .adjust_v2_7accents:nth-child(3) {
        margin-right: 1px;
    }

    .adjust_v2_7accents:nth-child(5) {
        margin-right: 10px;
        margin-left: 5px;
    }

    .adjust_v2_7accents:nth-child(6) {
        margin-left: 10px;
        margin-right: 15px;

    }

    .adjust_v2_7accents:nth-child(7) {
        margin-right: 19px;
    }

    /* ----- Option for Voron V2.4 6Accents (END) ----- */

    /* ----- Option for Voron V2.4 8Accents (START) ----- */
    .optionV2_8accents {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionV2_8accents.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV2_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v2_8accents:nth-child(2) {
        margin-right: 0px;
    }

    .adjust_v2_8accents:nth-child(3) {
        margin-right: 8px;
    }

    .adjust_v2_8accents:nth-child(4) {
        margin-right: 15px;
    }

    .adjust_v2_8accents:nth-child(5) {
        margin-right: 8px;
    }

    .adjust_v2_8accents:nth-child(6) {
        margin-right: 11px;
    }

    .adjust_v2_8accents:nth-child(7) {
        margin-right: 21px;
    }

    .adjust_v2_8accents:nth-child(8) {
        margin-right: 18px;
    }

    /* ----- Option for Voron V2.4 8Accents (END) ----- */



    /* ----- Option for Voron Trident Default (START) ----- */
    .optionTrident {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionTrident.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionTrident img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_trident:nth-child(2) {
        margin-right: 18px;
    }

    .adjust_trident:nth-child(3) {
        margin-right: 10px;
    }

    .adjust_trident:nth-child(4) {
        margin-right: 19px;
    }

    /* ----- Option for Voron Trident Default (END) ----- */

    /* ----- Option for Voron Trident 8Accents (START) ----- */
    .optionTrident_8accents {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionTrident_8accents.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionTrident_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_trident_8accents:nth-child(2) {
        margin-right: 15px;
    }

    .adjust_trident_8accents:nth-child(3) {
        margin-right: -1px;
    }

    .adjust_trident_8accents:nth-child(4) {
        margin-right: 5px;
    }

    .adjust_trident_8accents:nth-child(6) {
        margin-left: 7px;
        margin-right: 7px;
    }

    .adjust_trident_8accents:nth-child(7) {
        margin-right: 20px;
    }

    .adjust_trident_8accents:nth-child(8) {
        margin-right: 14px;
    }

    /* ----- Option for Voron Trident 8Accents (END) ----- */



    /* ----- Option for Voron Switchwire Default (START) ----- */
    .optionSwitchwire {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionSwitchwire.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionSwitchwire img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_switchwire:nth-child(2) {
        margin-right: 0px;
    }

    .adjust_switchwire:nth-child(3) {
        margin-right: 10px;
    }

    .adjust_switchwire:nth-child(4) {
        margin-right: 18px;
    }

    /* ----- Option for Voron Switchwire Default (END) ----- */

    /* ----- Option for Voron Switchwire 8Accents (START) ----- */
    .optionSwitchwire_8accents {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionSwitchwire_8accents.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionSwitchwire_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_switchwire_8accents:nth-child(2) {
        margin-right: 0px;
    }

    .adjust_switchwire_8accents:nth-child(3) {
        margin-right: 5px;
    }

    .adjust_switchwire_8accents:nth-child(4) {
        margin-right: 8px;
    }

    .adjust_switchwire_8accents:nth-child(5) {
        margin-right: 12px;
    }

    .adjust_switchwire_8accents:nth-child(6) {
        margin-right: 15px;
    }

    .adjust_switchwire_8accents:nth-child(7) {
        margin-right: 9px;
    }

    .adjust_switchwire_8accents:nth-child(8) {
        margin-right: 6px;
    }

    /* ----- Option for Voron Switchwire 8Accents (END) ----- */



    /* ----- Option for Voron Legacy Default (START) ----- */
    .optionLegacy {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionLegacy.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionLegacy img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_legacy:nth-child(2) {
        margin-right: 18px;
    }

    .adjust_legacy:nth-child(3) {
        margin-right: 15px;
    }

    /* ----- Option for Voron Legacy Default (END) ----- */

    /* ----- Option for Voron Legacy 8Accents (START) ----- */
    .optionLegacy_8accents {
        margin-bottom: 1px;
        margin-right: 1px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .optionLegacy_8accents.--is-active {
        width: 60px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionLegacy_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_legacy_8accents:nth-child(2) {
        margin-right: 5px;
    }

    .adjust_legacy_8accents:nth-child(3) {
        margin-right: 5px;
    }

    .adjust_legacy_8accents:nth-child(4) {
        margin-right: 16px;
    }

    .adjust_legacy_8accents:nth-child(5) {
        margin-right: 2px;
    }

    .adjust_legacy_8accents:nth-child(6) {
        margin-right: 2px;
    }

    .adjust_legacy_8accents:nth-child(7) {
        margin-right: 15px;
    }

    .adjust_legacy_8accents:nth-child(8) {
        margin-right: 14px;
    }

    /* ----- Option for Voron Legacy 8Accents (END) ----- */
}

/* ------------- max-width: 960px (End) ------------- */


/* ------------- max-width: 680px (Start) ------------- */
/* Responsive layout - when the screen is less than 680px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 680px) {

    [data-tooltip]:hover:before {
        top: 125%;
    }

    /* -----  Option for Voron V0.1 Default (Start) ----- */
    .optionV0 {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionV0.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV0 img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v0:nth-child(2) {
        margin-right: 25px;
    }

    .adjust_v0:nth-child(3) {
        margin-left: -5px;
    }

    .adjust_v0:nth-child(4) {
        margin-left: 2px;
    }

    .adjust_v0:nth-child(5) {
        margin-left: 10px;
    }

    /* ----- Option for Voron V0.1 Default (END) ----- */

    /* -----  Option for Voron V0.1 8Accents (Start) ----- */
    .optionV0_8accents {
        margin-bottom: 1px;
        padding: 5px;
        height: 40px;
        width: 40px;
        display: flex;
    }

    .optionV0_8accents.--is-active {
        width: 40px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV0_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v0_8accents:nth-child(2) {
        margin-right: 7px;
    }

    .adjust_v0_8accents:nth-child(3) {
        margin-right: 3px;
    }

    .adjust_v0_8accents:nth-child(4) {
        margin-right: 10px;
    }

    .adjust_v0_8accents:nth-child(5) {
        margin-right: 13px;
    }

    .adjust_v0_8accents:nth-child(6) {
        margin-right: 5px;
    }

    .adjust_v0_8accents:nth-child(7) {
        margin-right: 5px;
    }

    .adjust_v0_8accents:nth-child(8) {
        margin-right: 13px;
    }

    /* ----- Option for Voron V0.1 8Accents (END) ----- */



    /* ----- Option for Voron V2.4 Default (START) ----- */
    .optionV2 {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionV2.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV2 img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v2:nth-child(2) {
        margin-right: 5px;
    }

    .adjust_v2:nth-child(3) {
        margin-right: 12px;
    }

    .adjust_v2:nth-child(4) {
        margin-right: 23px;
    }

    /* ----- Option for Voron V2.4 Default (END) ----- */

    /* ----- Option for Voron V2.4 6Accents (START) ----- */
    .optionV2_7accents {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionV2_7accents.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV2_7accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_v2_7accents:nth-child(4) {
        margin-right: 2px;
    }

    /* ----- Option for Voron V2.4 6Accents (END) ----- */

    /* ----- Option for Voron V2.4 6Accents (START) ----- */
    .optionV2_8accents {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionV2_8accents.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionV2_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    /* ----- Option for Voron V2.4 6Accents (END) ----- */



    /* ----- Option for Voron Trident Default (START) ----- */
    .optionTrident {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionTrident.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionTrident img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    /* ----- Option for Voron Trident Default (END) ----- */

    /* ----- Option for Voron Trident 8Accents (START) ----- */
    .optionTrident_8accents {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionTrident_8accents.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionTrident_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_trident_8accents:nth-child(2) {
        margin-right: 12px;
    }

    .adjust_trident_8accents:nth-child(6) {
        margin-right: 8px;
    }

    /* ----- Option for Voron Trident 8Accents (END) ----- */



    /* ----- Option for Voron Switchwire Default (START) ----- */
    .optionSwitchwire {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionSwitchwire.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionSwitchwire img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .adjust_switchwire:nth-child(2) {
        margin-right: 5px;
    }

    .adjust_switchwire:nth-child(3) {
        margin-right: 15px;
    }

    .adjust_switchwire:nth-child(4) {
        margin-right: 21px;
    }

    /* ----- Option for Voron Switchwire Default (END) ----- */

    /* ----- Option for Voron Switchwire 8Accents (START) ----- */
    .optionSwitchwire_8accents {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionSwitchwire_8accents.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionSwitchwire_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    /* ----- Option for Voron Switchwire 8Accents (END) ----- */



    /* ----- Option for Voron Legacy Default (START) ----- */
    .optionLegacy {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionLegacy.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionLegacy img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    /* ----- Option for Voron Legacy Default (END) ----- */

    /* ----- Option for Voron Legacy 8Accents (START) ----- */
    .optionLegacy_8accents {
        margin-bottom: 1px;
        padding: 5px;
        height: 45px;
        width: 45px;
        display: flex;
    }

    .optionLegacy_8accents.--is-active {
        width: 45px;
        transform: scale(1.2);
        cursor: default;
    }

    .optionLegacy_8accents img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    /* ----- Option for Voron Legacy 8Accents (END) ----- */
}

/* ------------- max-width: 680px (End) ------------- */


/* ------------- max-width: 540px (START) ------------- */
@media screen and (max-width: 540px) {
    .optionsModel {
        margin-bottom: 20px;
    }

    .option-colors-tablet {
        display: none;
    }

    .option-colors-mobile {
        display: inherit;
    }

    .center-color-mobile {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .tray {
        height: 100px;
    }

    .drag-here-position {
        margin-top: -15px;
    }

    .info {
        display: none;
    }

    .info-mobile {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .info-mobile p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* ------------- max-width: 540px (End) ------------- */

/* ----------------------- Media Queries (End) ----------------------- */
